<main>
  <%= tag.h1 "bsdports.net", class: "logo" %>
  <%= render partial: "shared/search" %>
  <p class="updated_at">Updated <%= time_ago_in_words Port.last.updated_at %> ago</p>
  <% if cookies[:theme] == "light_mode" %>
    <%= link_to t("light_mode"), root_path(theme: "light_mode"), class: "light_mode_link" %>
  <% else %>
    <%= link_to t("dark_mode"), root_path(theme: "dark_mode"), class: "dark_mode_link" %>
  <% end %>
</main>

