<%= render partial: "shared/header" %>
<main>
  <div data-controller="search" id="search">
    <%= form_with(method: :get) do |form| %>
      <%= form.text_field :query, data: { action: "input->search#search" }, autocomplete: "off", value: params[:query], placeholder: "Search #{ Port.all.count } ports in #{ Category.all.count } categories..." %>
    <% end %>
  </div>
  <div id="reset_link">
    <%= render "ports/reset_link", query: params[:query] %>
  </div>
  <%= render "ports/list", ports: @ports %>
  <p class="updated_date">Updated <%= time_ago_in_words Port.last.updated_at %></p>
</main>
<%= render partial: "shared/footer" %>
 

